.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 853px) {
  .container {
    height: 130vh;
    min-width: 400px;
  }
}

@media (min-height: 320px) and (max-height: 425px) {
  .container {
    height: 300vh;
    min-width: 400px;
  }
}

